In [2]:
print("Hello World")
print(100)

Hello World
100

# Variable Types

In [16]:
#int
x= 100
print(x)
print(type(x))

#String
y= "Hello"
print(y)
print(type(y))

#Boolean
z= False
print(z)
print(type(z))

#Float
a= 1.0
print(a)
print(type(a))

100
<class 'int'>
Hello
<class 'str'>
False
<class 'bool'>
1.0
<class 'float'>

# List Tuple Set Dictionary

In [33]:
#List
#mutable
sample_list = [100,200,300,"Hello"]
print(sample)

#Indexing
print(sample_list[1])
print(sample_list[-1])
print(sample_list[1:3])

#Update
sample_list[2] = 500
print(sample_list)

[100, 200, 500, 'Hello']
200
Hello
[200, 300]
[100, 200, 500, 'Hello']

In [38]:
#tuple
#immutable
sample_tuple = (900,800,700,600)
print(sample_tuple)
print(sample_tuple[0:3])

(900, 800, 700, 600)
(900, 800, 700)

In [48]:
#Set
#No Duplicates allowed in set
sample_set = {200,400,500,600}
print(sample_set)
#Add New element to Set
sample_set.add(8000)
print(sample_set)
#Remove Element from Set
sample_set.remove(500)
print(sample_set)
sample_set.add(700)
print(sample_set)

{200, 600, 500, 400}
{8000, 200, 400, 500, 600}
{8000, 200, 400, 600}
{8000, 200, 400, 600, 700}

In [53]:
sample = [100,200,100,200,300,"Hello"]
print(sample)
#Converting List into Set
new_sample = set(sample)
print(new_sample)
#Converting List into Tuple
new_tuple = tuple(sample)
print(new_tuple)

[100, 200, 100, 200, 300, 'Hello']
{200, 'Hello', 100, 300}
(100, 200, 100, 200, 300, 'Hello')

In [58]:
#Dictionary
#key : Value
sample_dict = {"x":100,"y":200,"z":300}
print(sample_dict)

print(sample_dict.keys())
print(sample_dict.values())

#Update Value
sample_dict["x"] = 111
print(sample_dict)

#Add New key Value Pair
sample_dict["a"] = 400
print(sample_dict)

{'x': 100, 'y': 200, 'z': 300}
dict_keys(['x', 'y', 'z'])
dict_values([100, 200, 300])
{'x': 111, 'y': 200, 'z': 300}
{'x': 111, 'y': 200, 'z': 300, 'a': 400}

# Conditional Statements

In [67]:
marks = 100
if marks >= 35 and marks <= 59:
    print("Pass")
elif marks >= 60 and marks <= 79:
    print("First Class")
elif marks >= 80 and marks <= 100:
    print("Distinction")
else:
    print("Fail")

Distinction

# Loops

In [93]:
# for loop
sample = [100,200,300,"Hello"]
for item in sample:
    print(item)

print("Range with single Value")
for item in range(5):
    print(item)

print("Range with two Values")
for item in range(5,10):
    print(item)

print("Range with three Values")
for item in range(10,20,2):
    print(item)

100
200
300
Hello
Range with single Value
0
1
2
3
4
Range with two Values
5
6
7
8
9
Range with three Values

TypeError: 'str' object cannot be interpreted as an integer

In [74]:
sample = [100,200,100,200,300,"Hello"]
for i in range(1,len(sample),2):
    print(sample[i])

200
200
Hello

# While Loop

In [84]:
xx = 0
while xx<8:
    if xx==5:
        xx+=1
        continue
    print(xx)
    xx+=1

0
1
2
3
4
6
7

# Functions

In [85]:
def greet():
    print("Hello world")

greet()

Hello world

In [86]:
def greet(name):
    print(f"Hello {name}")
greet("All")

Hello All

In [87]:
def greet(fname, lname):
    print(f"{fname} {lname}")

greet("ABC","XYZ")

ABC XYZ

In [91]:
def greet(fname, lname, email = "abc@gmail.com"):
    print(f"{fname=} {lname=} {email=}")

greet("ABC","XYZ","xyz@gmail.com")

fname='ABC' lname='XYZ' email='xyz@gmail.com'

In [92]:
def greet(fname, lname,*args):
    print(f"{fname=} {lname=}")
    print(f"{args=}")

greet("ABC","XYZ","383998398","Hello","World")

fname='ABC' lname='XYZ'
args=('383998398', 'Hello', 'World')